#top {
    text-align: center;
    margin-bottom: 50px;
}


/* Search */
#title {
    font-size: 50px;
    font-weight: bold;
}

#info {
    text-align: center;
    margin-bottom: 30px;
}

#search {
    text-align: center;
    margin-bottom: 40px;
}

#search li {
    display: inline;
    padding-right: 40px;
}


#buttons {
    text-align: center;
    margin-bottom: 50px;
}

#buttons li {
    display: inline;
    padding-right: 40px;
}


/* Add a Book */
#add_book_form {
    width: 900px;
    margin: 0 auto;
}

#form_general label {
    width: 250px;
    text-align: right;
}

/*#add_book_form li {*/
/*    list-style-type: none;*/
/*}*/

#form_general input {
    width: 400px;
}

#title {
    text-align: center;
    margin-bottom: 30px;
}

#save_btn {
    margin-top: 20px;
    position: relative;
    left: 350px;
}

h4 {
    position: relative;
    left: 50px;
}

#form_authors {
    display: inline-block;
}

#form_indidents {
    display: inline-block;
    position: relative;
    left: 50px;
}

#form_indidents input {
    width: 300px;
}

#form_indidents label {
    width: 150px;
}

/* Import */
#hidden_question {
    display: none;
}

#id_query {
    width: 600px;
}

