{% extends 'books/base.html' %}

{% block content %}

    <div id="title">
        <h2>Add a Book</h2>
    </div>

    <form method="post" id="add_book_form">
        {% csrf_token %}

        <div id="form_general">
            <h4>General Info</h4>
            {{ form.as_p }}
        </div>

        <div id="form_authors">
            <h4>Authors</h4>
            {{ formset_author.management_form }}
            {{ formset_author.as_p }}
        </div>

        <div id="form_indidents">
            <h4>Industry Identifiers</h4>
            {{ formset_indident.management_form }}
            {{ formset_indident.as_ul }}
        </div>

        <div id="form_btn_save">
            <button type="submit" class="btn btn-primary" id="save_btn">Save</button>
        </div>
    </form>

{% endblock %}