{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Books Manager</title>

    <link href=" {% static 'books/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'books/css/style.css' %}" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div id="top" onclick="location.href = '{% url 'books:list' %}';">
            <span id="title">BOOKS MANAGER</span>
            <hr>
        </div>

        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'books/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'books/js/bootstrap.bundle.min.js' %}"></script>

    {% block scripts %}{% endblock %}

</body>
</html>