{% extends 'books/base.html' %}

{% block content %}

    <div id="info">
        {{ vol_count }} volumes in database
    </div>

    <div id="search">
        <form method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <div id="buttons">
        <ul>
            <li><button type="button" class="btn btn-success"
                        onclick="location.href = '{% url 'books:add_volume' %}';">Add a Book</button></li>
            <li><button type="button" class="btn btn-warning"
                        onclick="location.href = '{% url 'books:import' %}'">Import Books</button></li>
        </ul>
    </div>

    {% for volume in volumes %}
        {% if forloop.first %}
        <p>Found {{ volumes.count }}/{{ vol_count }} volumes.</p>
        {% endif %}

        <h2>#{{ forloop.counter }} :: {{ volume.title }}</h2>
        <table class="table table-sm table-hover">
            <tbody>
                {% for author in volume.authors.all %}
                    {% if forloop.first %}
                        <tr><td>Authors</td>
                    {% else %}
                        <tr><td></td>
                    {% endif %}
                    <td>{{ author }}</td></tr>

                {% endfor %}

                <tr><td>Published Date</td><td>{{ volume.publishedDate }}</td></tr>
                <tr><td>Page Count</td><td>{{ volume.pageCount }}</td></tr>
                <tr><td>ImageLink Small Thumbnail</td><td><a href="{{ volume.imageLinks.smallThumbnail }}" target="_blank">{{ volume.imageLinks.smallThumbnail }}</td></tr>
                <tr><td>ImageLink Thumbnail</td><td><a href="{{ volume.imageLinks.thumbnail }}" target="_blank">{{ volume.imageLinks.thumbnail }}</td></tr>
                <tr><td>Language</td><td>{{ volume.language }}</td></tr>

                {% for ident in volume.industryIdentifiers.all %}
                    {% if forloop.first %}
                        <tr><td>Industry Identifiers</td>
                    {% else %}
                        <tr><td></td>
                    {% endif %}
                    <td>{{ ident.type }}, {{ ident.identifier }}</td></tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

    {% endfor %}

{% endblock %}