{% extends 'books/base.html' %}

{% block content %}
    <h2>{{ volumes_imported }} volumes imported!</h2>
{% endblock %}

{% block scripts %}
    <script>
        let timer = setTimeout(function() {
            window.location = '{% url 'books:list' %}';
        }, 3000);
    </script>
{% endblock %}