{% extends 'books/base.html' %}
{% load static %}

{% block content %}

    <h2>Import books</h2>

    <div id="query">
        <form method="post" id="form_query">
            {% csrf_token %}
            {{ form }}
            <button type="button" class="btn btn-primary" onclick="check();">Check</button>
            <p>(default: 10 results; &maxResults=40 possible in query)</p>
        </form>
    </div>

    <span id="info"></span>

    <div id="hidden_question">
        <p>Would you like to import volumes?</p>
        <ul>
            <li><button type="button" class="btn btn-success" onclick="do_import()">Yes</button></li>
            <li><button type="button" class="btn btn-danger" onclick="location.href='{% url 'books:import' %}';">No</button></li>
        </ul>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        let csrf_token = "{{ csrf_token }}";
    </script>

    <script src="{% static 'books/js/import_volumes.js' %}" type="text/javascript"></script>
{% endblock %}